<div class="row d-flex align-items-center p-5" id="ref">
    <div class="col-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <h1 class="txt_bold normal_title">Partenaire</h1>
            <div class="row mt-2">
                <div class="card col-lg-3">
                    <div class="card-body">
                        <h3 class="card-title txt_bold">Nos Partenaires</h3>
                        <p class="card-text txt_light">ensuring that studying at Sussex is a life-changing experience for every student ery student</p>
                    </div>
                </div>
                <div class="card col-lg-8">
                    <div class="card-body">
                        <img src="../../../../../assets/img/companies/bmz.png" alt="bmz" class="partners_img">
                        <img src="../../../../../assets/img/companies/canalfood.png" alt="bmz" class="partners_img">
                        <img src="../../../../../assets/img/companies/giac-btp.png" alt="bmz" class="partners_img">
                        <img src="../../../../../assets/img/companies/lgmz.jpg" alt="bmz" class="partners_img">
                        <img src="../../../../../assets/img/companies/bmz.png" alt="bmz" class="partners_img">
                        <img src="../../../../../assets/img/companies/bmz.png" alt="bmz" class="partners_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>