<div class=" container d-flex align-items-center my-5 py-5 h-100">
    <div class="col-12">
        <h1 class="normal_title txt_bold mt-5">Nos services</h1>
        <div class="row mt-4">
            <div class="col-lg-6 ourservice_bg p-5">
                <h3 class="txt_bold">Certification</h3>
                <p class="txt_light normal_paragraph">e Lorem Ipsum est simplement du faux texte employé dans la composition et la mise endans la composition et la mise endans la composition et la mise endans la composition et la mise en </p>
            </div>
            <div class="col-lg-6 ourservice_bg2 p-5">
                <h3 class="txt_bold">Mise à disposition de ressources</h3>
                <p class="txt_light normal_paragraph">e Lorem Ipsum est simplement du faux texte dans la composition et la mise endans la composition et la mise endans la composition et la mise en </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 ourservice_bg2 p-5">
                <h3 class="txt_bold">Formations</h3>
                <p class="txt_light normal_paragraph">e Lorem Ipsum est simplement du faux texte employé dans la composition et la mise endans la composition et la mise endans la composition et la mise endans la composition et la mise en </p>
            </div>
            <div class="col-lg-6 ourservice_bg p-5">
                <h3 class="txt_bold">Formations</h3>
                <p class="txt_light normal_paragraph">e Lorem Ipsum est simplement du faux texte employé dans la composition et la mise endans la composition et la mise endans la composition et la mise en </p>
            </div>
        </div>
    </div>
</div>