<div class="container my-5 py-5 h-100">
    <h1 class="normal_title txt_bold mt-5">Qui sommes-nous?</h1>
    <div class="row mt-4">
        <div class="col-lg-6 p-5 about_page_bg2">
            <h3 class="txt_bold">Qu'est-ce que le Lorem Ipsum</h3>
            <p class="txt_light normal_paragraph">
                e Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de
                texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages
                du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
            </p>
        </div>
        <div class="col-lg-6 p-5 about_page_bg">
            <h3 class="txt_bold">Qu'est-ce que le Lorem Ipsum</h3>
            <p class="txt_light normal_paragraph">
                e Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de
                texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages
                du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
            </p>
        </div>
    </div>
</div>