
  <div class=" container d-flex align-items-center my-5 py-5 h-100" >
    <div class="col-12">
      <h1 class="normal_title txt_bold mt-5">Contactez-nous</h1>
      <div class="row mt-4">
        <div class="col-lg-6 contact_info_bg p-5">
          <h3 class="txt_bold mt-lg-5">Mail</h3>
            <p class="txt_light normal_paragraph"><i class="fas fa-envelope contact_icon" aria-hidden="true"></i> mediexperts-academy@gmail.com</p>
          <h3 class="txt_bold" >Contact</h3>
            <p class="txt_light normal_paragraph">
            <i class="fas fa-mobile contact_icon" aria-hidden="true"></i> Telephone : (+212)-665484584
            <br>
            <i class="fas fa-mobile contact_icon" aria-hidden="true"></i> Fix : (+212)-663659874
            </p>
          <h3 class="txt_bold">Adresse</h3>
           <p class="txt_light normal_paragraph"> <i class="fas fa-map-marker contact_icon" aria-hidden="true"></i> 15/3 Maarif; Casablanca; Maroc </p>
        </div>
        <div class="col-lg-6 contact_form_bg p-5">
          <form method="post">
            <h3 class="txt_bold mb-3">Envoie-nous un message</h3>
            <div class="form-group">
                <input type="text" name="txtName" class="form-control" required placeholder="Your Name *" value="" />
            </div>
            <div class="form-group">
                <input type="text" name="txtEmail" class="form-control" required placeholder="Your Email *" value="" />
            </div>
            <div class="form-group">
                <input type="text" name="txtPhone" class="form-control" required placeholder="Your Phone Number *" value="" />
            </div>
            <div class="form-group">
                <textarea name="txtMsg" class="form-control" required placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
            </div>

            <input class="btn-standard" type="submit" value="Send Message"/>
        </form>
        </div>

      </div>
  </div>
</div>

