<div class="row d-flex align-items-center p-5 chiffre_page_bg" id="ref">
    <div class="col-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <h1 class="txt_bold normal_title">Mediexperts Academy en chiffres</h1>
            <div class="row pb-5 pt-2">
                <div class="card col-lg-3">
                    <div class="card-body">
                        <h1 class="card-title txt_bold chiffre">+ 10 ans <span class="txt_light chiffre_lable">d'Expertise</span>
                        </h1>
                    </div>
                </div>
                <div class="card col-lg-2">
                    <div class="card-body">
                        <h1 class="card-title txt_bold chiffre">+ 30 <span class="txt_light chiffre_lable">Collaborateurs</span>
                        </h1>
                    </div>
                </div>
                <div class="card col-lg-3">
                    <div class="card-body">
                        <h1 class="card-title txt_bold chiffre">+ 50 <span class="txt_light chiffre_lable">Missions par an</span>
                        </h1>
                    </div>
                </div>
                <div class="card col-lg-2">
                    <div class="card-body">
                        <h1 class="card-title txt_bold chiffre">+ 28 <span class="txt_light chiffre_lable">Partenaires</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>