<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h5>À propos de nous</h5>
                <p style="color: rgb(209, 209, 209); margin-top: -4px;">e Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ips</p>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/about']" routerLinkActive="router-link-active"><i style="font-size: 23px; "
                class="fa fa-angle-double-right"></i>
              <p class="myp">Qui sommes-nous?</p>
            </a></li>
                    <li><a [routerLink]="['/formations']" routerLinkActive="router-link-active" class="frm"><i
                style="font-size: 23px; " class="fa fa-angle-double-right"></i>
              <p class="myp">Nos formations</p>
            </a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4  mt-sm-3 mt-lg-0">
                <form method="post">
                    <h5>Newsletter</h5>
                    <p style="color: rgb(209, 209, 209); margin-top: -5px;">Souscrivez à nos Newsletters pour recevoir les nouveautés
                    </p>
                    <input type="text" style="padding-left: 5px;border-radius: .5em;" placeholder="Adresse email" required> <input type="submit" href="#" class="btn-nl" value="Envoyer">
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 mt-4 mt-lg-0">
                <h5>Liens rapides</h5>
                <p style="color: rgb(209, 209, 209); margin-top: -7px;">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ips</p>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/services"><i style="font-size: 23px; " class="fa fa-angle-double-right"></i>
              <p class="myp">Nos services</p>
            </a></li>
                    <li><a href="#ref"><i style="font-size: 23px; " class="fa fa-angle-double-right"></i>
              <p class="myp">Références</p>
            </a></li>
                    <li><a href="#"><i style="font-size: 23px; " class="fa fa-angle-double-right"></i>
              <p class="myp">Privacy Policy</p>
            </a></li>
                    <li><a href="#"><i style="font-size: 23px;   " class="fa fa-angle-double-right"></i>
              <p class="myp">FAQ</p>
            </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-6">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p style="font-size: 13px; margin-top: -10px;">&copy; 2021<a class="text-green ml-2" href="" target="_blank">Mediexperts Academy</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>