.nav-tabs .nav-link.active{
  background-color: #fff5de;
  border-radius: .9rem;
  color: #393e46;
  border: none;
}
.nav-tabs .nav-link{
  background-color: #ffffff;
  border-radius: .9rem;
  color: #393e46;
  border: none;
}
a{
  color: #393e46;
  border: none;
  cursor: pointer;
}

