<div class="bg-header"></div>
<div class="row p-5 mt-5 d-flex align-items-center" >
  <div class="col-lg-12 col-sm-12 col-md-12 p-lg-5 mt-lg-5 ">
      <h1 class="txt_bold big_title mt-5 pt-lg-4 w-75">Mediexperts Academy management des organisations</h1>
      <div>
        <p class="txt_light w-75 normal_paragraph">
          Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
          Le Lorem Ipsumte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas
        </p>
        <div class="mt-4">
        <button  routerLink="/about" class="btn btn-standard mr-2">En savoir plus</button>
        <a href="#cnt" class="btn btn-second" ><i class="fas fa-phone-alt"></i> Contactez-nous</a>
        </div>
      </div>
      <a class="down" href="#ref"><i class="fas fa-angle-down fa-3x"></i></a>
  </div>
</div>
<div class="mt-lg-5 pt-lg-5">
  <app-reference></app-reference>
</div>
<app-chiffre></app-chiffre>
<app-partner></app-partner>
<app-home-contact></app-home-contact>

